#map-container {
  margin: auto;
  position: relative;
  width: fit-content;
  margin-top: $spacing-big;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  .column {
    display: flex;
    flex-direction: row;
  }
  .element {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    background: #c75f09;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
