input {
    margin-right: $spacing-small;
  }
  .hover-line {
    margin-bottom: $spacing-small;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  .hovers-container {
    // border: 1px solid $gray;
    width: 100%;
    padding: $spacing-medium;
    margin: auto;
    margin-top: $spacing-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-top: 0;
    span {
      margin-right: $spacing-small;
    }
    .instructions {
    
      .buttons {
        display: flex;
        button{
          margin: $spacing-small;
        }
      }
    }
  }