$blue:#003DA5;
$gray:#C4C4C4;
$ice:#E5E5E5;
$danger:rgb(255, 36, 36);

$spacing-small:8px;
$spacing-medium:16px;
$spacing-normal:24px;
$spacing-big:32px;

$spacing-huge:64px;


$font-small:12px;
$font-medium:14px;
$font-normal:16px;
$font-big:24px;
